<div class="form-cont">
    <p mat-dialog-title>Add Campaign</p>
    <div mat-dialog-content>
        <form [formGroup]="campaignForm">
            <mat-form-field appearance="legacy">
                <mat-label>Campaign name</mat-label>
                <input formControlName="campaignName" matInput placeholder="Name">
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="legacy">
                <mat-label>Keywords</mat-label>
                <input formControlName="keywordscont"
                    type="text"
                    #box
                    placeholder="Press Enter to add keyword or Delete to clear: max 3 keywords"
                    aria-label="String"
                    matInput
                    [matAutocomplete]="auto"
                    id="keywordID"
                    (keydown.enter)="addTag($event)"
                    (keydown.delete)="removeBtn()">
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option" getValue>
                    {{option}}
                </mat-option>
                </mat-autocomplete>
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <mat-label>Bid amount (Dolars)</mat-label>
                <input formControlName="bidAmount" matInput type="number" placeholder="Bid amount">
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <mat-label>Campaign fund</mat-label>
                <input formControlName="campaignFund" matInput type="number" placeholder="Bid amount">
            </mat-form-field>
            <label for=""><h4>Status</h4></label>
            <mat-radio-group formControlName="status" class="radio-group">
                <mat-radio-button *ngFor="let list of BoolList" [value]="list" class="radio-button">
                    {{list}}
                </mat-radio-button>
            </mat-radio-group>
            <mat-form-field appearance="legacy">
                <mat-label>Town</mat-label>
                <mat-select formControlName="town" placeholder="Town">
                    <mat-option value="Warszawa">Warszawa</mat-option>
                    <mat-option value="Kraków">Kraków</mat-option>
                    <mat-option value="Łódź">Łódź</mat-option>
                    <mat-option value="Wrocław">Wrocław</mat-option>
                    <mat-option value="Poznań">Poznań</mat-option>
                    <mat-option value="Gdańsk">Gdańsk</mat-option>
                    <mat-option value="Szczecin">Szczecin</mat-option>
                    <mat-option value="Bydgoszcz">Bydgoszcz</mat-option>
                    <mat-option value="Lublin">Lublin</mat-option>
                    <mat-option value="Białystok">Białystok</mat-option>
                    <mat-option value="Katowice">Katowice</mat-option>
                    <mat-option value="Gdynia">Gdynia</mat-option>
                    <mat-option value="Częstochowa">Częstochowa</mat-option>
                    <mat-option value="Radom">Radom</mat-option>
                    <mat-option value="Rzeszów">Rzeszów</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="legacy">
                <mat-label>Radius (in kilometres)</mat-label>
                <input formControlName="radius" matInput type="number" placeholder="Radius">
            </mat-form-field>
    </form>
    </div>
    <div mat-dialog-action [align]="'end'">
        <button mat-raised-button color="warm" mat-dialog-close>Close</button>
        <button mat-raised-button color="primary" class="save-button" (click)="addCampaign()">{{dialogBtn}}</button>
    </div>
</div>